body{
    background-color: cadetblue;
    text-align: center;
}
button{
    background-color:rgba(11, 9, 9, 0.539);
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 35px;
    border-radius: 20px;
    box-shadow: inset;
    justify-content: center;
    margin-top: 60px;
    margin-right: 25px;
    

}
button:hover{
    background-color: rgb(27, 26, 26);
}
h1{
    margin-top: 40px;
    margin-bottom: 40px;
}
